<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.dnabplus.board.mapper.BoardMapper">
 
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>
    
    <select id="boardList" resultType="com.dnabplus.board.domain.BoardDTO">
    	SELECT * FROM board;
    </select>
    
    <select id="selectBoard" parameterType="String" resultType="com.dnabplus.board.domain.BoardDTO">
    	SELECT title, id, writer, contents, createDate FROM board WHERE boardNum=#{boardNum};
    </select>
	
	<insert id="insertBoard" parameterType="com.dnabplus.board.domain.BoardDTO"> 
		INSERT INTO board ( id, title, contents, writer
		) VALUES (
			#{id}, #{title}, #{contents}, #{writer});
	</insert>
	
	<update id="updateBoard" parameterType="com.dnabplus.board.domain.BoardDTO">
		UPDATE board SET contents = #{contents} WHERE boardNum = #{boardNum};
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM board WHERE boardNum = #{boardNum};
	</delete>
</mapper>