<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.dnabplus.board.mapper.BoardMapper">
 
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>
    
    <select id="boardList" resultType="com.dnabplus.board.domain.BoardDTO">
    	SELECT * FROM board;
    </select>
    
    <select id="selectBoard" parameterType="String" resultType="com.dnabplus.board.domain.BoardDTO">
    	SELECT title, id, writer, content, registDate FROM board WHERE boardNum=#{boardNum};
    </select>
	
	<insert id="insertBoard" parameterType="com.dnabplus.board.domain.BoardDTO"> 
		INSERT INTO board ( boardNum, id, writer, title, content, registDate
		) VALUES (
			(SELECT MAX(*) FROM board) + 1, #{id}, #{writer}, #{title}, #{content}, NOW());
	</insert>
	
	<update id="updateBoard" parameterType="com.dnabplus.board.domain.BoardDTO">
		UPDATE board SET content = #{content}, modifyDate = NOW() WHERE boardNum = #{boardNum};
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM board WHERE boardNum = #{boardNum};
	</delete>
</mapper>